<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="../static/css/app.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <h1>&#x2728;Article Search &#x2728;</h1>
            <div id="searchWrapper">
                <input
                    type="text"
                    name="searchBar"
                    id="searchBar"
                    placeholder="search for an article"
                />
            </div>
            <i class="fa fa-microphone" id="microphone" style="font-size:36px;color:white;margin-top: 5px;"></i>
            <h3>SPEAK THE FULL SENTENCE IN 3 SECONDS WHILE USING MICROPHONE</h3>
           <!-- <ul id="charactersList"></ul> -->
        </div>
       
        <script src="../static/javascript/app.js"></script>
    </body>
</html>
